[live]

deployment_sdlc_account = 064946868561
deployment_region = eu-central-1
workload_account = 905418071083
asset_prefix = sw-cdk-bootstrap-s3
deployment_role_name = sw-das-live-dasdply-role-main-a
resource_suffix = main-aws
bootstrap_stack_version = /swift/cdk-bootstrap/version
app_infra_stack_name = sw-das-live-app-infra-stack-main-aws
app_infra_replication_stack_name= sw-das-liv-app-infra-replica-stack-main-aws
s3_replication_account = 905418071083
app_env = live
app_name = das
service_name = das
resource_prefix = sw
cost_center = C355
s3_filter_prefix = audit/
main_lz_org_id = o-zwxgcm9bdz
first_region = eu-central-1
second_region = ap-south-1
time_threshold_seconds = 900

[dev]

deployment_sdlc_account = 064946868561
deployment_region = eu-central-1
workload_account = 886436965976
asset_prefix = sw-cdk-bootstrap-s3
deployment_role_name = sw-das-dev-dasdply-role-main-a
resource_suffix = main-aws
bootstrap_stack_version = /swift/cdk-bootstrap/version
app_infra_stack_name = sw-das-dev-app-infra-stack-main-aws
app_infra_replication_stack_name= sw-das-dev-app-infra-replica-stack-main-aws
s3_replication_account = 886436965976
app_env = dev
app_name = das
service_name = das
resource_prefix = sw
cost_center = C355
s3_filter_prefix = audit/
main_lz_org_id = o-zwxgcm9bdz
first_region = eu-central-1
second_region = ap-south-1
time_threshold_seconds = 900